:root {
  --header-bgc: #ECECEC;
  --body-color-1: #F3D250;
  --body-color-2: #90CCF4;
  --body-color-3: #F78888;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#content {
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
  background-color: var(--header-bgc);
  place-content: center;
}

.header {
  font-family: 'Inknut Antiqua', sans-serif;
  font-size: 3rem;
  display: grid;
  place-content: center;
}

.main {
  font-family: 'Alegreya', sans-serif; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 600px;
  place-content: center;
  width: 800px;
}

.tab {
  font-size: 2rem;
  display: grid;
  place-content: center;
  border-radius: 20px 20px 0 0;
}

#tab-1 {
  background-color: var(--body-color-1);
  margin-right: 20px;
}

#tab-2 {
  background-color: var(--body-color-2);
  margin-right: 20px;
}

#tab-3 {
  background-color: var(--body-color-3);
}

.about-content, .menu-content, .contact-content {
  padding: 50px;
  font-size: 1.2rem;
  grid-column: 1 / -1;
  overflow-y: auto;
}

.main > span {
  font-family: 'Yellowtail', sans-serif;
}

/* About */

.about-content {
  background-color: var(--body-color-1);
}

/* Menu */

.menu-content {
  background-color: var(--body-color-2);
}

.menu-itself {
  display: grid;
  justify-content: center;
  align-content: start;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, 300px);
}

.menu-item {
  display: grid;
  grid-template-rows: 200px 1fr 1fr;
  justify-items: center;
}

.menu-item img {
  height: 200px;
}

/* Contact */

.contact-content {
  background-color: var(--body-color-3);
}